<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
</head>
<body>
    <h1>Movie Recommendation System</h1>
    <form action="/results" method="get">
        <label for="title">Enter Movie Title for Recommendation:</label>
        <input type="text" id="title" name="title"><br><br>

        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>